* {
    padding: 0;
    margin: 0;
}

.navbar-text {
    color:aliceblue;
}

.container {
    display: flex;
}
/* Lian's jumbotron contribution */
.jumbotron{
    background-image: url(/Image-Folder/Jumbotron-Roses.jpg);
    background-size: cover;
    height: 500px;
    width: 100%;
}
/* end of Lei's code contribution */
.row {
    height: 350px;
}

.Rcol {
    background-color: #6610f2;
    color: #ffff;
}

.Lcol {
    background-color: #20c997;
    color: black;
}

.footer {
    background-color: 
}

.footer-text {
    font-weight: bold;
}