* {
    padding: 0;
    margin: 0;
}

.navbar-text {
    color:aliceblue;
}

.container {
    display: flex;
}

.row {
    height: 350px;
}

.Rcol {
    background-color: #6610f2;
    color: #ffff;
}

.Lcol {
    background-color: #20c997;
    color: black;
}

.footer {
    background-color: 
}

.footer-text {
    font-weight: bold;
}